body {
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

canvas, img:not([src]) {
    cursor: progress;
}

img, canvas {
    margin: 32px;
    background: #444;
    image-rendering: pixelated;
}

.debugger {
    margin: 32px;
    display: inline-block;
    width: 300px;
}